body {
	margin: 0px;
	-webkit-print-color-adjust:exact;
}

@media print
{
	.noPrint
	{
		display:none;
	}
}

#testbar
{
	background-color:#D2E0E6;
	margin: 1em;
	margin-top: 0em;
	padding: 0.5em;
	padding-right: 1em;
	text-align: right;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

a.testbar:link,a.testbar:visited,a.testbar:hover,a.testbar:active
{
	color:#528CE0;
}

.wineLabel {
	text-align: center;
	width: 280px;
	min-height: 600px;
	float: left;
	margin: 15px;
}

.wineLabel .bottleneckOuter {
	background-color:white;
	height: 100px;
	width: 100px;
	margin: 50px 90px;
}

.wineLabel .header {
	height: 100px;
	font-size: 2em;
	font-weight: bold;
}

.wineLabel .description {
	height: 150px;
	font-size: 1.5em;
	font-weight: bold;
	margin: 50px;
}

.wineLabel .footer {
	height: 50px;
}

.colorButtons {
	float: right;
}

.addWineLabel {
	background-color: #D2E0E6;
}

.addWineLabelButton {
	width: 200px;
	height: 200px;
	margin-top: 50px;
}

.white {
	background-color: #faf2cc;
}

.rose {
	background-color: #f8b9b7;
}

.red {
	background-color: rgb(214, 60, 53);
}